* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
/*.section {
  float: left;
  //padding: 1px 0 0 0;
}*/
html {
  font-family: "Lucida Sans", sans-serif;
}

/*.header {
  background-color: rgb(15, 190, 124);
  color: white;
  padding: 15px;
  border-radius: 5px;
}

.footer {
  color: #ffffff;
  font-size: 12px;
  padding: 15px;
}*/



/*.col-1 {width: 8.33%;}
//.left-menu {
    width: 16.66%;}
//.right-menu {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
//.podcast {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
//.footer {width: 100%;}

@media only screen and (max-width: 770px) {
  .left-menu, .right-menu, .podcast {
    width: 100%;
  }

  #main {
    width: 100%;
  }
}

@media only screen and (min-width: 771px) and (max-width: 1260px){
  #main {
    width: 100%;
  }

  .left-menu {
    width: 25%;
  }
  .podcast {
    width: 75%;
  }

  .right-menu {
    width: 100%;
  }
}

@media only screen and (min-width: 1451px) {
  .left-menu {width: 16.66%;}
  .right-menu {width: 25%;}
  .podcast {width: 58.33%;}
}*/
